
.h1{
    /* Css Grid */
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin: 0;
    color: var(--black);
}

.h1Post{
    /* Как работать с CSS Grid */

    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    /* --c-black */
    color: var(--black);

}

.h2Post{

    font-weight: 700;
    font-size: 28px;
    line-height: 38px;

    color: var(--black);

}

