.like {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    background: transparent;
    border: none;
}

.icon {
    width: 16px;
    height: 16px;
    /* margin-right убираем или перенесём к .count */
    fill: var(--black-с30);
    transition: fill 0.2s;
}

.Active {
    fill: #87ceeb;
}

.count {
    font-size: 14px;
    line-height: 16px;
    color: var(--black-с30);
    margin-right: 4px;
}

